@model User


<form asp-controller="Users" asp-action="Register" method="POST">
    <div class="mb-3">
        <label asp-for="Firstname"></label>
        <span
        asp-validation-for="Firstname"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="Firstname" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Lastname"></label>
        <span
        asp-validation-for="Lastname"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="Lastname" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <span
        asp-validation-for="Email"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <span
        asp-validation-for="Password"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <span
        asp-validation-for="ConfirmPassword"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>

    <button class="btn btn-outline-primary">Register</button>
</form>